:root {
  --dark-blue: #180032;
  --yellow: #fcb42c;
  --orange: #fe6c2b;
  --pink: #de077d;
  --purple: #6a0ba8;
  --light-blue: #2786eb;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

html {
  height: 100%;
  font-size: 62.5%;
  text-align: center;
}

#root {
  min-height: 100%;
  font-size: 1.75rem;
  line-height: 1.5;
  background-color: var(--dark-blue);
  min-height: 100vh;
}

main {
  padding-top: 3rem;
}

#cf {
  max-width: 50%;
}

.button {
  width: 40%;
  height: 15%;
}

.selection {
  margin: 4rem 0;
}

#orange-overwrite {
  background-color: var(--dark-blue);
  color: var(--orange);
  border: 3px solid var(--orange);
}

#yellow-overwrite {
  background-color: var(--dark-blue);
  color: var(--yellow);
  border: 3px solid var(--yellow);
}

#pink-overwrite {
  background-color: var(--dark-blue);
  color: var(--pink);
  border: 3px solid var(--pink);
}

#orange-overwrite:hover {
  background-color: var(--orange);
  color: white;
}

#yellow-overwrite:hover {
  background-color: var(--yellow);
  color: white;
}

#pink-overwrite:hover {
  background-color: var(--pink);
  color: white;
}

#game-screen {
  max-width: 80%;
  transform: translate(10%, 10%);
}

#instruction {
  margin-bottom: 4rem;
}

.movie {
  width: 80%;
}

.movies {
  margin-bottom: 4rem;
}
