:root {
  --dark-blue: #180032;
  --yellow: #fcb42c;
  --orange: #fe6c2b;
  --pink: #de077d;
  --purple: #6a0ba8;
  --light-blue: #2786eb;
}

.ui.secondary.pointing.menu,
.ui.segment:first-child {
  background: var(--light-blue);
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

html {
  height: 100%;
  font-size: 62.5%;
  text-align: center;
}

#root {
  min-height: 100%;
  font-size: 1.75rem;
  line-height: 1.5;
  background-color: var(--dark-blue);
}

body {
  background-color: var(--dark-blue);
  color: white;
}

main {
  padding-top: 3rem;
}

/* logo on home */
.logo {
  max-width: 60%;
  transform: translate(30%, 0%);
}

/* new game screen */
.button,
button {
  width: 55%;
  height: 15%;
}

.make-selection {
  margin: 3rem 0;
}

/* overwriting semantic UI button styles */
#orange-overwrite {
  background-color: var(--dark-blue);
  color: var(--orange);
  border: 3px solid var(--orange);
}

#yellow-overwrite {
  background-color: var(--dark-blue);
  color: var(--yellow);
  border: 3px solid var(--yellow);
}

#pink-overwrite {
  background-color: var(--dark-blue);
  color: var(--pink);
  border: 3px solid var(--pink);
}

#orange-overwrite:hover {
  background-color: var(--orange);
  color: white;
}

#yellow-overwrite:hover {
  background-color: var(--yellow);
  color: white;
}

#pink-overwrite:hover {
  background-color: var(--pink);
  color: white;
}

/* game screen */
#game-screen {
  max-width: 80%;
  transform: translate(10%, 10%);
}

#instructions {
  margin-bottom: 4rem;
  color: white;
}

.movie-poster {
  width: 80%;
}

.movies-container {
  margin-bottom: 4rem;
}

.timer {
  margin-bottom: 4rem;
}

#submit-button {
  background-color: var(--orange);
  color: white;
  border: 3px solid var(--orange);
  border-radius: 0.25rem;
  padding: 2rem 0;
  font-size: 2rem;
}

/* high score screen */
